
body {
	background-color: #BBBBBB;
    font-family: Roboto, sans-serif;
}

header h1 {
	color: yellow;
}

.shop-photo {
	width: 100%;
	display: block;
	margin: 0 auto;
	height: auto;
}

#merch {

	margin: 10px;
	
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

#merch .merch {
	border: 2px solid gray;
}

#merch .merch .merch-image {
	width: 250px;
}

